<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>964625473327-0upah2urf7dglvls7vjus9mc281svg8b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.964625473327-0upah2urf7dglvls7vjus9mc281svg8b</string>
	<key>API_KEY</key>
	<string>AIzaSyDyQHawBIa1hsJX5pkq5G__BFRsk-3iG6M</string>
	<key>GCM_SENDER_ID</key>
	<string>964625473327</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ThisIsChristoph.Van</string>
	<key>PROJECT_ID</key>
	<string>chrisharrisonvan</string>
	<key>STORAGE_BUCKET</key>
	<string>chrisharrisonvan.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:964625473327:ios:cb6d67cf4038da74</string>
	<key>DATABASE_URL</key>
	<string>https://chrisharrisonvan.firebaseio.com</string>
</dict>
</plist>